---
const { title = "Wiki HK", description = "Conocimiento de Hallownest" } =
	Astro.props
---

<html lang="es" class="dark">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content={description} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Crimson+Pro:wght@300;400;600;700&display=swap"
			rel="stylesheet"
		/>
		<title>{title}</title>
	</head>
	<body
		class="min-h-screen text-[--color-ink] font-[--font-body] bg-[--color-bg] selection:bg-[--color-accent]/20"
	>
		<div class="blur-motes" aria-hidden="true"></div>
		<slot />
	</body>
</html>
